*~*
*#*
*.na
*.dat
*.png
*.pyc
*.ps
*.txt
*.sw*
*.swn
*.swo*
*.out
*.csv
*restart.4x5.geos5.*
*.data
d_planeflight_generator/data/*
d_fast-J_JX/data/*
*option_*.py
*.o*
MChem_bpch_plotter.py
MChem_tools.py
bpch2netCDF.py
monthly_run